:root {
        --base: #5e5690;
        --base-light: #7873a7;
        --base-dark: #555184;
        --shadow: #4f4c6b;
        --letter: #d8d7e5;
      }

      * {
        border: 0;
        margin: 0;
        box-sizing: border-box;
      }
      .container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content {
        position: relative;
        perspective: 600px;
      }

      .shadow {
        position: absolute;
        width: 200px;
        height: 1px;
        background: transparent;
        border-radius: 30%;
        box-shadow: 50px 100px 10px 5px #eeeef3;
      }

      .letter {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 280px;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 15;
        border-radius: 2px;
        background: var(--letter);
        box-shadow: 0px 1px 7px -2px var(--base);
      }
      .letter .body {
        position: relative;
        width: 240px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--base);
      }
      .das-message {
        font-size: 10px !important;
        font-family: 'Manjari', sans-serif !important;
        text-align: left;
      }
      .das-header {
        font-size: 30px;
        text-align: center;
        font-family: 'Great Vibes', cursive;
      }
      .letter .body .close {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 30px;
        font-family: 'Manjari', sans-serif;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .letter .body .message {
        font-size: 40px;
        font-weight: 900;
        text-align: center;
        font-family: 'Great Vibes', cursive;
        padding: 10px 0px 10px 0px;
        width: 280px;
        height: 160px;

        overflow: scroll;
      }

      .envelope {
        position: relative;
        width: 300px;
        height: 180px;
        background: linear-gradient(#cccbd7 0.5px, var(--base-light) 0.5px);
        cursor: pointer;
      }

      .envelope::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        border-top: 115px solid #7873a7;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        box-sizing: border-box;
        z-index: 30;
        transform-origin: top;
      }

      .envelope::after {
        content: '';
        position: absolute;
        top: 0;
        width: 300px;
        height: 180px;
        z-index: 25;
        background: linear-gradient(
              30deg,
              var(--base-dark) 47%,
              var(--shadow) 50%,
              var(--base) 50%
            )
            150px 90px/150px 90px no-repeat,
          linear-gradient(
              31deg,
              var(--base) 49%,
              var(--shadow) 50%,
              transparent 50%
            )
            0px 0px/152px 90px no-repeat,
          linear-gradient(
              150deg,
              var(--base) 50%,
              var(--shadow) 50%,
              var(--base-dark) 53%
            )
            0px 90px/151px 90px no-repeat,
          linear-gradient(
              148.7deg,
              transparent 50%,
              var(--shadow) 50%,
              var(--base) 51%
            )
            150px 0px/150px 90px no-repeat;
      }
/* custom scroll bar */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}
